# Cloudflare Tunnel
CF_API_TOKEN=
CF_ACCOUNT_ID=
CF_TUNNEL_NAME=comichub

# Domain
DOMAIN=example.com
API_SUBDOMAIN=api

# Git
GIT_REPO=git@github.com:user/comichub.git
GIT_BRANCH=main

# App
APP_DIR=/var/www/manga
DB_PASSWORD=changeme_strong_password
NEXT_PUBLIC_API_URL=https://api.example.com/api/v1
FRONTEND_URL=https://example.com
